In [11]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import pickle
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split

df = pd.read_csv('custom_sales_data.csv')
df.head()

  rating  sales_in_month_1  sales_in_month_2  sales_in_month_3
0    NaN                 2               500               300
1    NaN                 4               300               650
2   four               600               200               400
3   nine               450               320               650
4  seven               600               250               350

In [3]:
df.isna().sum()

rating              2
sales_in_month_1    0
sales_in_month_2    0
sales_in_month_3    0
dtype: int64

In [8]:
df['rating'].fillna(0, inplace = True) # Replacing all missing values with 0

features = df.iloc[:, :3] # Up to column Month 2 

def to_int(name):
    names_dict = {'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 0: 0}
    return names_dict[name]

features['rating'] = features['rating'].apply(lambda x: to_int(x))

target = df.loc[:, 'sales_in_month_3']

### Model building

In [19]:
linear_regressor = LinearRegression()

linear_regressor.fit(features, target)


print(linear_regressor.intercept_)
print(linear_regressor.coef_)

268.9444398353606
[55.20673536 -0.28255349  0.128736  ]

In [22]:
linear_regressor.score(features, target)

0.4356009474224397

### Pickle Model

In [23]:
pickle.dump(linear_regressor, open('model.pkl', 'wb'))

model = pickle.load(open('model.pkl', 'rb'))

print(model.predict([[4,500,600]]))

[425.73623444]

### Testing flask